.reset-content{
    display: block;
    align-items: center;
    padding-left: 103px;
    padding-right: 105px;
}
.reset-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
}
.add-reset{
    font-size: 45px;
}
.closed-reset{
    font-size: 45px;
}
.re-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}
.re-lock-div{
    display: flex;
    align-items: center;
}
.re-lock{
    font-size: 34px;
}


.re-lock-div h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size:43px ;
    font-weight:700 ;
    line-height: 15px;
    color: #000000;
    padding-top: 10px;
}
.re-parentform{
    width: 507px;
    padding-top: 20px;
}
.re-parentform p{
    font-family: 'Nunito Sans', sans-serif;
    font-size:18px ;
    font-weight:300 ;
    line-height: 25px;
    color: #000000;
    padding-top: 31px;
}
.resetform{
    margin-top: 61px;
}
.resetform-control{
    margin-top: 30px;
}
.resetform label{
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size:24px ;
    font-weight:400 ;
    line-height: 15px;
    color: #000000;
    margin-bottom: 13px;
}
.resetform-control input{
    width: 507px;
    height: 60px;
    border-radius:15px ;
    border:1px solid #000000 ;
    padding: 10px;
    font-size: 20px;
}
.resetform button{
    width: 507px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    border:none;
    background-color: #E77D2C;
    font-weight: 600;
    font-size:25px ;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-top: 77px;
}
.resetform button:hover{
    opacity: 50%;
    color: #FFFFFF;
}
.re-parentform h3{
    display: flex;
    place-content: center;
    margin-top: 47px;
    margin-bottom: 97px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:25px ;
    font-weight:600 ;
    line-height: 30px;
    color: #000000;
}
.re-parentform h3 span{
    font-family: 'Nunito Sans', sans-serif;
    font-size:25px ;
    font-weight:600 ;
    line-height: 30px;
    color:  #E77D2C;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.re-parentform h3 span:hover{
    opacity: 50%;
    color: #E77D2C;
}